<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <script src="../static/js/bootstrap.js"></script>


</head>
<body>

    <div class="container bg-info mt-2">
        <h2>Users</h2>
        <section class="row">
            {% for record in records %}
            <div class="col-md-4 mb-3">
                <div class="card shadow">
                    <h5>Username: {{record[0]}} </h5>
                    <h5>Email: {{record[1]}} </h5>
                    <img src="../static/images/{{record[4]}} " alt="" width="300" height="300">
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</body>
</html>